node_modules
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/postgres-data

@php use App\Enums\ShippingStatus; @endphp
@extends('admin.layout.app')
@section('title', 'Заказы')

@section('content')
    <div id="content" class="main-content">
        <div class="content main-content">
            <div class="container">

                <!-- BREADCRUMB -->
                {{-- <div class="page-meta">
                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Form</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Slider</li>
                        </ol>
                    </nav>
                </div> --}}
                <!-- /BREADCRUMB -->

                <div class="container">
                    <div class="row layout-spacing">
                        <div class="row layout-top-spacing">
                            <div class="col-lg-12">
                                <div class="widget box box-shadow">
                                    <h4 class="mb-4">Заказ №{{ $order->id }}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 layout-top-spacing">
                                <div class="widget-content widget-content-area align-baseline">

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Информация о заказе</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="dataTables_wrapper container-fluid">
                                                <table class="table dt-table-hover">
                                                    <tbody>
                                                    <tr>
                                                        <th style="width: 40%">Пользователь:</th>
                                                        <td>{{ $order->user->name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Общая цена:</th>
                                                        <td>{{ $order->total_price }} Руб</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Всего товара:</th>
                                                        <td>{{ $order->total_quantity }} шт.</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Адрес доставки:</th>
                                                        <td>{{ $order->shipping_address }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Статус доставки:</th>
                                                        <td>{{ $order->shipping_status->getLabel() }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Статус оплаты:</th>
                                                        <td>{{ $order->payment_status->getLabel() }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="mt-4">
                                                    <form
                                                        action="{{ route('order.update-shipping-status', $order->id) }}"
                                                        method="POST" class="d-inline">
                                                        @csrf
                                                        @method('PUT')
                                                        <div class="row align-items-center">
                                                            <div class="col-md-8">
                                                                <select name="shipping_status" class="form-control">
                                                                    @foreach(ShippingStatus::cases() as $status)
                                                                        <option value="{{$status->value}}"
                                                                            @selected(old('status', $order->shipping_status->value) == $status->value)>
                                                                            {{ $status->name }}
                                                                        </option>
                                                                    @endforeach
                                                                </select>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button type="submit" class="btn btn-primary btn-block">
                                                                    Сохранить
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 layout-top-spacing">
                                <div class="widget-content widget-content-area align-baseline">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Содержимое заказа</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="dataTables_wrapper container-fluid">
                                                <table class="table dt-table-hover">
                                                    <thead>
                                                    <tr style="text-align: center; vertical-align: middle;">
                                                        <th style="width: 40%">Товар</th>
                                                        <th>Количество</th>
                                                        <th>Цена за единицу</th>
                                                        <th>Сумма</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach($order->orderItems as $orderItem)
                                                        <tr style="text-align: center; vertical-align: middle;">
                                                            <td>
                                                                <div class="d-flex align-items-center">
                                                                    @if($orderItem->item_image)
                                                                        <img src="{{ $orderItem->item_image }}"
                                                                             alt="{{ $orderItem->item_name }}"
                                                                             style="width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
                                                                    @endif
                                                                    <span>{{ $orderItem->item_name }}</span>
                                                                </div>
                                                            </td>
                                                            <td>{{ $orderItem->quantity }}</td>
                                                            <td>{{ $orderItem->item->price }} ₽</td>
                                                            <td>{{ $orderItem->item->price * $orderItem->quantity }}₽
                                                            </td>
                                                        </tr>
                                                    @endforeach
                                                    </tbody>
                                                    <tr style="font-weight: bold; text-align: center;">
                                                        <td colspan="3" style="text-align: right;">Итого:</td>
                                                        <td>{{ $order->total_price }}₽</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@endsection
